
.container {
    background-color: rgb(150, 150, 150);
    margin-top: 6;
    margin-bottom: 6;
}

#header
{
    flex-direction: row;
    justify-content: center;
}

#playButton
{   
}

#recordButton
{   
}

#timeArea{
    height: 50;
}

#playhead
{
    background-color: rgba(150, 0, 0, 255);
    position-type:absolute;
    height: 25;
    width: 10;
    background-image:none;
}

#dragSlider
{
    margin-top:25;
    height: 25;
}